@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new machine</h4>

@using (Html.BeginForm())
{
    <p> Machine Name @Html.TextBoxFor(model => model.MachineName)</p>

    <p>Machine Details @Html.TextBoxFor(model => model.Details)</p>
    
    @Html.Label("Add an engineer")
    @Html.DropDownList("EngineerId")<br><br>

    <input type="submit" value="Add new Machine"/>
}

<br>
<div id="nav-links">
  <p>@Html.ActionLink("Back to List of Machines", "Index")</p>
</div>