@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.MachineName): @Html.DisplayFor(model => model.MachineName)</h3>
<h3>@Html.DisplayNameFor(model => model.Details): @Html.DisplayFor(model => model.Details)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Machine does not belong to any Engineers</p>
}
else
{
  <h4>Engineers this machine belongs to:</h4>
  <ul>
  @foreach(EngineerMachine join in Model.JoinEntities)
  {
    <li>@join.Engineer.EngineerName</li>
    @using (Html.BeginForm("DeleteJoin", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<br>
<div id="nav-links">
  <p>@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId }) | @Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId }) | @Html.ActionLink("Add an Engineer", "AddEngineer", new { id = Model.MachineId })</p>
  <p>@Html.ActionLink("Back to List of Machines", "Index")</p>
</div>